In [4]:
import sys
import os

notebookdir = os.path.abspath(os.curdir)
project_root_dir = os.path.abspath(os.path.join(notebookdir, '..', '..'))
if project_root_dir not in sys.path:
    sys.path.append(project_root_dir)
print(sys.path[-1])

/home/master/.cache/huggingface/modules

In [5]:
from src.data.dataload import *
dataset = load_agnews()
train, val, test = dataset.train_val_test

Using custom data configuration default
Reusing dataset ag_news (/home/master/.cache/huggingface/datasets/ag_news/default/0.0.0/fb5c5e74a110037311ef5e904583ce9f8b9fbc1354290f97b4929f01b3f48b1a)

In [6]:
train

        label                                               text
113756      1  Chelsea draws with Arsenal; Birmingham City st...
107636      3  Speaking Naturally, Anew How does version 8 of...
14643       0  Five Killed as Typhoon Tears Across Southern J...
16171       1  News in brief A provisional 2005 calendar was ...
74449       0  India at bottom half of media freedom index Ne...
...       ...                                                ...
98249       0  Australia migration focus shifts from Asia to ...
105223      3  Lycos fights spam with screensaver Lycos is of...
41074       3  Oracle brings SMB suite to North America Oracl...
112811      1  Jordan Makes Statement Wizards coach Eddie Jor...
49034       2  BP Relies on Russia for Higher Production  LON...

[108000 rows x 2 columns]